<div class="row">
  <div class="col-md-2">
    <img src="https://picsum.photos/75" class="rounded mr-2" />
    <span class="font-weight-bold">{{ userFullName }}</span>
  </div>
  <div class="col-md-7 p-3">
    <h3 class="text-uppercase font-weight-bold text-center text-success">
      {{ title }}
    </h3>
  </div>
  <div class="col-md-3 p-3 text-light">
    <span class="bg-info mr-2 p-2">{{ currentDateTime }}</span>
    <a class="btn btn-success" (click)="onLock()"
      ><i class="fa fa-unlock-alt"></i
    ></a>
  </div>
</div>
