<div style="overflow-y: scroll; overflow-x: hidden;">
  <div class="row mt-1 mb-2">
    <div class="col-md-9">
      <input type="text" class="form-control bg-secondary text-white" placeholder="SCAN OR ENTER PRODUCT"
        (keyup.enter)="onItemEnter($event)" [(ngModel)]="itemCode" />
    </div>
    <div class="col-md-3">
      <button class="btn btn-secondary w-100" (click)="onItemEnter($event)" [disabled]="!itemCode">
        ENTER
      </button>
    </div>
  </div>
  <app-sale-item *ngFor="let saleDetail of sale.saleDetails" [saleDetail]="saleDetail"
    (amountChanged)="onAmountChanged($event, saleDetail)">
  </app-sale-item>
  <hr style="border: 1px solid green; border-radius: 2px;" />
  <div class="row">
    <div class="col-md-9">
      <p class="font-weight-bold">Subtotal: {{ subTotal }} $</p>
      <p class="font-weight-bold">Discount: {{ totalDiscount }} $</p>
    </div>
    <div class="col-md-3">
      <p class="text-uppercase font-weight-bold">Total</p>
      <p class="font-weight-bold">{{ total }} $</p>
    </div>
  </div>
</div>