<div id="{{ modalId }}" class="modal fade">
  <div [ngClass]="getDialogClass()">
    <div class="modal-content">
      <div class="modal-header">
        <h4 [ngClass]="getTitleClass()">{{ modalDialog.title }}</h4>
        <button type="button" class="close" (click)="hideModal()">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <button
          *ngIf="button1.visible"
          [ngClass]="getButtonClass()"
          (click)="onButton1Click()"
          [disabled]="!button1.enabled"
        >
          {{ button1.title }}
        </button>
        <button class="btn btn-secondary" (click)="hideModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>
