<div id="cmptModal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
        <button type="button" class="close" (click)="hideModal()">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <button
          *ngIf="showButton1"
          class="btn btn-info"
          (click)="onButton1Click()"
          [disabled]="!enableButton1"
        >
          {{ button1 }}
        </button>
        <button class="btn btn-secondary" (click)="hideModal()">Close</button>

        <!-- this button is hidden, used to close from typescript -->
        <button
          id="btnClose"
          type="button"
          data-dismiss="modal"
          style="display: none;"
        ></button>
      </div>
    </div>
  </div>
</div>
