<div class="row">
    <div class="col-md-9" style="cursor: pointer" (click)="onItemSelect()">
        <p class="form-control bg-light text-dark">{{ displayName }}</p>
    </div>
    <div class="col-md-1">
        <span class="badge badge-info text-center p-2">{{ saleDetail.quantity }}</span>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary mr-1" (click)="onAddItem()">
            <i class="fa fa-plus-circle"></i>
        </button>
        <button class="btn btn-danger" (click)="onRemoveItem()">
            <i class=" fa fa-minus-circle"></i>
        </button>
    </div>
</div>