<app-modal-window
  [modalId]="'cmptSaleList'"
  [modalDialog]="modalDialog"
  (cancelClicked)="onCancelClicked()"
>
  <ng-template [ngIf]="sales.length > 0">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">№</th>
          <th scope="col">Date</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let sale of sales"
          [ngClass]="getSaleClass(sale.id)"
          style="cursor: pointer;"
          (click)="onSelectSale(sale.id)"
          appHighlight
          [bgColor]="'bg-info'"
        >
          <td>{{ sale.id }}</td>
          <td>{{ sale.date.toLocaleDateString() }}</td>
          <td>{{ sale.totalAmount }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  <div *ngIf="sales.length == 0">
    <p class="text-center font-italic">List is empty.</p>
  </div>
</app-modal-window>
