<app-modal-window
  [modalId]="'cmptSaleList'"
  [modalSize]="modalSize"
  [modalNature]="modalNature"
  [title]="title"
  [showButton1]="showSaleItemButton1"
  [enableButton1]="selectedSaleId > 0"
  [button1Title]="'Restore'"
  (button1Clicked)="onRestore()"
>
  <div *ngIf="sales.length > 0">
    <table class="table table-striped">
      <thead>
        <tr class="table-info">
          <th scope="col">№</th>
          <th scope="col">Date</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let sale of sales"
          [ngClass]="getSaleClass(sale.id)"
          style="cursor: pointer;"
          (click)="onSelectSale(sale.id)"
        >
          <td>{{ sale.id }}</td>
          <td>{{ sale.date }}</td>
          <td>{{ sale.totalAmount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="sales.length == 0">
    <p class="text-center font-italic">List is empty.</p>
  </div>
</app-modal-window>
