<h6>Ticket № {{ticketNumber}}</h6>
<img [src]="itemImageUrl" class="rounded" />
<div class="row">
    <div class="col-md-6 p-1">
        <button type="button" class="btn btn-success w-100">Empty button</button>
    </div>
    <div class="col-md-6 p-1">
        <button type="button" class="btn btn-success w-100">Empty button</button>
    </div>
    <div class="col-md-6 p-1">
        <button type="button" class="btn btn-success w-100">Complete list</button>
    </div>
    <div class="col-md-6 p-1">
        <button type="button" class="btn btn-success w-100">Incomplete list</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12 p-1">
        <button type="button" class="btn btn-success w-100">Complete</button>
    </div>
</div>