<h6>Bill № {{ billNumber }}</h6>
<div class="row">
  <div class="col-md-12">
    <img
      src="{{ itemImageUrl }}"
      onerror="this.src='./assets/empty.png'"
      alt="Select an item to see image"
      class="rounded img-responsive w-100 h-100"
    />
    <div *ngIf="!itemImageUrl" class="carousel-caption">
      <p class="text-info text-center font-weight-bold">
        Select an item to see image
      </p>
    </div>
  </div>
  <div class="col-md-12">
    <h5 class="font-weight-bold">{{ itemName }}</h5>
  </div>
</div>
<div class="row">
  <div class="col-md-6 p-1">
    <button
      type="button"
      class="btn btn-secondary w-100"
      data-toggle="modal"
      data-target="#cptCompleted"
      (click)="showCompleted()"
    >
      <i class="fa fa-list mr-2"></i>Completed
    </button>
  </div>
  <div class="col-md-6 p-1">
    <button
      type="button"
      class="btn btn-warning w-100"
      data-toggle="modal"
      data-target="#cptcptCompleted"
      (click)="showIncompleted()"
    >
      <i class="fa fa-hourglass-start mr-2"></i>Incompleted
    </button>
  </div>
  <div class="col-md-6 p-1">
    <button type="button" class="btn btn-info w-100">
      <i class="fa fa-share-square mr-2"></i>Save & Continue
    </button>
  </div>
  <div class="col-md-6 p-1">
    <button
      type="button"
      class="btn btn-danger w-100 h-100"
      (click)="onClear()"
    >
      <i class="fa fa-trash mr-2"></i>Clear
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12 p-1">
    <button type="button" class="btn btn-success w-100" (click)="onComplete()">
      <i class="fa fa-cart-arrow-down mr-2"></i>Complete
    </button>
  </div>
</div>
<app-completed></app-completed>
