<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-4">
      <a href="javascript:window.close();" class="btn btn-success w-25 mb-3"
        >Close</a
      >
      <div class="btn-group w-100">
        <input
          type="text"
          class="form-control mb-1"
          placeholder="Filter items"
          [(ngModel)]="filteredItem"
        />
        <button
          *ngIf="filteredItem"
          class="btn bg-transparent"
          style="margin-left: -40px; z-index: 100;"
          (click)="clearFilter()"
        >
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div>
        <ul
          *ngFor="let item of items | filter: filteredItem:'name'"
          class="list-group"
        >
          <li
            class="list-group-item list-group-item-action"
            [routerLink]="[item.id]"
            queryParamsHandling="preserve"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ item.name | shorten: 50:"***" | uppercase }}
            <span class="badge badge-primary badge-pill">{{ remainder }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
