<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-4">
            <a routerLink="/home" class="btn btn-success w-25 mb-3">Back</a>
            <div>
                <ul *ngFor="let item of items" class="list-group">
                    <li class="list-group-item list-group-item-action" [routerLink]="[item.id]"
                        queryParamsHandling="preserve" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        {{item.name}}
                        <span class="badge badge-primary badge-pill">{{remainder}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>